/*Fuente logo*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Fuente general*/
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


:root{
    --tipo-fuente-LocoWeather: 'Lobster', sans-serif;
    --tamanio-fuente-LocoWeather: 2rem;

    font-family: 'Tilt Neon', sans-serif;
    --menu-font-size: 1rem;
    --tamanio-fuente-h2: 2rem;
    --tamanio-fuente-informe: 2rem;
    --label-fomr-font-size: 1.5rem;
    --input-form-font-size: 1rem;
    --p-tarjeta-font-size: 1rem;

}

@media (max-width: 980px) and (orientation: portrait) {
    :root{

        --tamanio-fuente-LocoWeather: 2rem;
        --tamanio-fuente-h2: 1.5rem;
        --tamanio-fuente-informe: 1rem;
        --label-fomr-font-size: 1rem;
        --input-form-font-size: 1rem;
        --p-tarjeta-font-size: 1rem;
        --menu-font-size: 1rem;
    }
    
}