/*Fuente logo*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Fuente general*/
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


:root{
    --tipo-fuente-LocoWeather: 'Lobster', sans-serif;
    --tamanio-fuente-LocoWeather: 2em;

    font-family: 'Tilt Neon', sans-serif;
    --tamanio-fuente-h2: 2em;
    --tamanio-fuente-informe: 2em;
    --label-fomr-font-size: 1.5em;
    --input-form-font-size: 1em;
    --p-tarjeta-font-size: 1em;

}

@media (max-width: 1000px) and (orientation: portrait) {
    :root{

        --tamanio-fuente-LocoWeather: 4em;
        --tamanio-fuente-h2: 3em;
        --tamanio-fuente-informe: 2em;
        --label-fomr-font-size: 2em;
        --input-form-font-size: 2em;
        --p-tarjeta-font-size: 2em;
        --menu-font-size: 2em;
    }
    
}